<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <body>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/AtelierCSS.css') }}">
    </body>
</head>
<body>
    <div class="img">
        <img src="{{ url_for('static', filename='img/at.jpg') }}">
    </div>
    <nav class="container">
    <ul class="topmenu">
    <li><a href="{{ url_for('index') }}">Главная</a></li>
        </ul>
    </nav>
    <center><h1>О нас</h1></center>

<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="{{ url_for('static', filename='img/156.jpg')}}">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3">Ателье Надежды Логиновой по ремонту и пошиву одежды среди класических услуг, за которыми привыкли обращаться, занимается еще и апсайклингом!

               </h2>
            <p class="lead fs-4 text-secondary mb-3"></p>
            <p class="lead fs-4 text-secondary mb-3">Если кратко, то это творческий подход к "новому прочтению" старых вещей.
                Человек, который смело одевается, как правило имеет свой взгляд на мир и не боится его обозначать.</p>
            <p class="mb-5"> Поэтому,такая мода уже отвоевала себе нишу на рынке современной одежды.
                изделия создаются из материалов, бывших в использовании, и в своем дизайне  не повторяются!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 </body>
</html>        								