<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AtelierCSS.css') }}">
</head>
<body>
    <h1>
      <center>Ателье Надежды Логиновой</center>
    </h1>
<div class="img">
    <img src="{{ url_for('static', filename='img/at.jpg') }}">
</div>


<nav class="container">
    <ul class="topmenu">
    <li><a href="{{ url_for('index') }}">Главная</a></li>
    <li><a href="{{ url_for('success') }}">Пошив одежды</a></li>
    <li><a href="{{ url_for('upsacking') }}">Апсайклинг</a></li>
    <li><a href="{{ url_for('projects') }}">Мои проекты</a></li>
    <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
    <li><a href="{{ url_for('about') }}">О нас</a></li>

        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>